@model Comic.Data.Models.ComicBook
@{
    ViewBag.Title = "AddComic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Comic</h2>

@using (Html.BeginForm("AddComic", "Comic", FormMethod.Post, new { id = "addComic"}))
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Name, new { @class="col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Description, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Description)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x=>x.IssueNumber, new { @class="col-sm-2 col-form-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.IssueNumber, new { type = "number", step="any" })
        </div>
    </div>

    <input type="submit" value="submit" id="btnAdd" />
}

